[submodule "glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "glfw"]
	path = lib/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "nlohmann_json"]
	path = lib/nlohmann_json
	url = git@github.com:nlohmann/json.git
	branch = master
[submodule "imgui"]
	path = lib/imgui/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "RmlUI"]
	path = lib/RmlUI
	url = git@github.com:SamCZ/RmlUi.git
	branch = 4.1
[submodule "newton-dynamics"]
	path = lib/newton-dynamics
	url = git@github.com:MADEAPPS/newton-dynamics.git
	branch = master
[submodule "tracy"]
	path = lib/tracy
	url = git@github.com:wolfpld/tracy.git
	branch = master
[submodule "entt"]
	path = lib/entt
	url = git@github.com:skypjack/entt.git
[submodule "glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "assimp"]
	path = lib/assimp
	url = git@github.com:assimp/assimp.git
[submodule "stb"]
	path = lib/stb/stb
	url = git@github.com:nothings/stb.git
