[submodule "External/DiligentEngine"]
	path = External/DiligentEngine
	url = git@github.com:SamCZ/DiligentEngine.git
	branch = master
[submodule "External/glfw"]
	path = External/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "External/glm"]
	path = External/glm
	url = git@github.com:g-truc/glm.git
	branch = master
